
    
.main-hed{
    
    position: absolute;
    width: 1343px;
    height: 1322px;
    left: 0px;
    top: 0px;

background: rgba(255, 144, 14, 0.1);

    
}

/*--------------
nevigation bar 
-----------------*/

h2{
    position: absolute;
    top: 20px;
     
     left: 100px;
    color: #131313;
    font-family: 'Work Sans';
    
    
}

.nev-header{
    
    display: flex;
}

nav ul{
    position: absolute;
    display: flex;
    padding: 20px;
    left: 900px;
}

nav ul{
    align-items: center;
    gap: 50px;
    
    list-style: none;
}

nav li a{
    
    text-decoration: none;
    color:  #424242;
    align-items: center;
    font-family: 'Work Sans';
    
}

.brand{
    text-align: center;
    font-weight: 350px;
     font-size: 10px;
}

/*----------------
banner head-line
-------------------*/

.main-title{
    
    position: absolute;
    font-family: 'work sans';
    font-style: none;

    font-weight: 50px;
    font-size: 25px;
    left: 410px;
    top: 100px;
    text-align: center;

}

.sub-title{
    position: absolute;
    text-align: center;
    font-family: 'work sans';
    color: #727272;;
    
    top: 300px;
    left: 250px;
    
}

.main-btn{
    position: absolute;
    font-family: 'work sans';
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;

    width: 150px;
    font-size: 20px;
    height: 55px;
    margin: 10px;

    top: 400px;
    left: 580px;
}

/*--------------- 
   banner-image
-------------------*/

.imgs{
    position: absolute;
    width: 1200px;
    height: 600px;
    left: 70px;
    top: 577px;
}

.fast-container{
    position: absolute;
    width: 50px;
     height: 50px;
}



.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    position: absolute;
    top: 1400px;
    left: 50px;
    
    
}
.grid-container, .grid-items{

    margin: 4px;
}
/*---------------
main text and image layout
----------------------*/

.secound-hed{
    position: absolute;
    top: 1609px;
    left: 800px;
 

}

.span-1{
    color: #727272;
    font-weight: 500;
font-size: 45px;
line-height: 53px;
}
.span-2{
      color:  #131313;
      font-weight: 700;
      font-size: 45px;
      line-height: 53px;
}
.span-3{
    color:  #FF900E;
    font-weight: 700;
font-size: 45px;
line-height: 53px;

}

/*-------------------
 secound-subtitle
 --------------------*/
.secound-subtitle{
    position: absolute;
    color: #727272;
    top: 1739px;
    left: 805px;

}

/*--------------------
    secound-btn "Explore More"
    ------------------------------*/

.secound-btn{
    position: absolute;
    font-family: 'work sans';
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 15px;
    top: 1849px;
    left: 800px;
    width: 180px;
    height: 63px;
    font-size: 20px;
    
}



.box{
    position: absolute;
    top: 2235px;
    left: 40px;
    background-color: #FF900E;
    width: 4.91px;
    height: 101.01px;
    
}

.third-text{
    position: absolute;
    font-family: 'work sans';
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;    
    left: 50px;
    top: 2200px;

}

.third-subtitle{
    position: absolute;
    color: #727272;
    font-family: 'work sans';
    top: 2350px;
    left: 50px;
}


/*-------------------
  box-inline "box-shawdo"
  --------------------*/

.main-box{
    position: absolute;
    font-family: 'work sans';
    left: 80px;
   top: 2480px;

}
.box-1{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
     background-color: #FFFFFF;;
    width: 644.19px;
    height: 180.31px;
}
.box-2{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    width: 644.19px;
    height: 180.31px;
}
.box-3{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    width: 644.19px;
    height: 180.31px;
}
.box-4{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    
    width: 644.19px;
height: 180.31px;
}

.pra-1{
    color:  #727272;
}


.third-img{
    position: absolute;
    left: 750px;
    top: 0px;
    width: 500.31px;
    height: 750px;
}

 /*---------------
   third-button
   ----------------*/
.third-btn{
    border-radius: 16px;
    background-color: #FF900E;
    color:  #FFFFFF;
    font-weight: 400px
    ;
    font-size: 25px;
    line-height: 5px;
    font-family: 'work sans';
    width: 300px;
    height: 190px;

} 
.third-btn{
    position: absolute;
    left: 690px;
    bottom: 2px;
    
     
}


.mid-btn{
    
    font-family: 'work sans';
    font-weight: 600;
    font-size: 65px;
    line-height: 20spx;
}



  /*-----------------
      start-footer
      -------------------*/

.five-hed{
    position: absolute;
    font-family: 'work sans';
    
    left: 50px;
    top: 3350px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.five-subtitle{
    position: absolute;
    font-family: 'work sans';
    color: #727272;
    left: 50px;
    top: 3450px;
}

.containar{
    display: flex;
}

.box-icon-1{
    position: absolute;
    align-items: center;
    left: 100px;
    top: 3600px;

    border: 1px solid #FF900E;
    width: 241.83px;
   height: 241.83px;
}

.box-icon-2{
    position: absolute;
    left: 400px;
    top: 3600px;

    border: 1px solid #FF900E;
    width: 241.83px;
    height: 241.83px;
}

.box-icon-3{
    position: absolute;
    left: 700px;
    top: 3600px;
    border: 1px solid #FF900E ;
    width: 241.83px;
    height: 241.83px;
}

.box-icon-4{
    position: absolute;
    left: 1050px;
    top: 3600px;

    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E ;
}

.container, .icon-imgs{
    position: absolute;
width: 45.22px;
height: 45.22px;
left: 100px;
top: 40px;

}

.number{
    position: absolute;

left: 90px;
top: 50px;
}

.number{
    color: #424242;
    font-family: 'work sans';
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}

.words{
    position: absolutes;
    color: #424242;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
.words{
    position: absolute;
    top: 150px;
    left: 35px;
}

.last-hader{
    font-family: 'work sans';
    font-weight: 700px;
    font-size: 45px;
    line-height: 53px;
}
.last-hader{
    position: absolute;
    top: 4000px;
    left: 500px;
}
.last-subtitle{
    color: #727272;
    position: absolute;
    text-align: center;
    top: 4100px;
    left: 450px;
}
.sponcer{
    position: absolute;
    top: 4200px;
    left: 100px;
    display: flex;
    gap: 80px;
}

.last-box{
    position: absolute;
    text-align: center;
width: 1000px;
height: 50px;
left: 240px;

top: 4400px;
background-color: #FFF4E7 ;
color:  #424242;
font-family: 'work sans';

}




   
    
    
